*{
	padding: 0;
	margin: 0;
}


#grupoinn .ui-btn-a{
	background-color: #FFAF00;
}
#grupoinn .ui-btn-a:hover{
	background-color: #FFA000;
}

#grupoinn .ui-btn-b{
	background-color: #00B1D3;
}
#grupoinn .ui-btn-b:hover{
	background-color: #0091EA;
}

#grupoinn .ui-btn-d{
	background-color: #007078;
}
#grupoinn .ui-btn-d:hover{
	background-color: #0091EA;
}

#grupoinn{
	background: #EEEEEE;
}

#grupoinn .toolbar{
	background: #00B1D3;
	border-color: #00B1D3;
}

#grupoinn .toolbar ul > li a{
	background:#00B1D3;
	border-color: #80DEEA;
}
#grupoinn .toolbar ul > li a.ui-btn-active{
	background: #00B0FF;
	border-color: #0095AA;
}


#grupoinn .logo{
	width: 100%;
	margin: auto;
	padding-top: 15%;
	text-align: center;
}

#grupoinn .logo img{
	width: 100%;
	height: 100%;
}

#profile img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

#profile h2{
	display: block;
	width: 100%;
	text-align: center;
}

#profile .circle{
	border-radius: 50px ;
	height: 100px ;
	width: 100px ;
	border: 3px solid white;
	box-shadow: 2px 3px 2px #BDBDBD;
}

#detail-content .band, .info, .participants{
	display: block;
	width: 100%;
}

#detail-content .band{
	height: 200px;
	margin: 0;
	padding: 0;
}

#detail-content .info h2{
	display: inline-block;
}
#detail-content .info label{
	display: inline-block;
}

label.culture{
	background-color: #00E676;
	border: 3px solid white;
	border-radius: 5px;
	color: white;
	font-size: 15px;
}